@model OnlineMovieTicket.Entity.AccountData

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <body class="imgg">
        <div class="login-card">
            <h1 class="h">Login</h1>

            <pre>USERNAME       @Html.TextBoxFor(Model => Model.Name, htmlAttributes: new { @class = "input-box-s" , @placeholder ="Username"})</pre>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            <pre>PASSWORD       @Html.PasswordFor(Model => Model.Password, htmlAttributes: new { @class = "input-box-s",  @placeholder ="Password" })</pre>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <br />
            <input type="submit" value="LOGIN" class="login-submit">
        </div>
    </body>
}

