@model OnlineMovieTicket.Entity.AccountData

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="imgg">
    <div class="login-card">
        <h1 class="h">Login</h1>

        <pre>USERNAME       @Html.TextBoxFor(Model => Model.Name, htmlAttributes: new { @class = "input-box-s" })</pre>

     
        <pre>PASSWORD       @Html.TextBoxFor(Model => Model.Password, htmlAttributes: new { @class = "input-box-s" })</pre>
        <input type="submit" value="LOGIN" class="login-submit">
        
    </div>
</body>