
@{
    Layout = null;
}

<!DOCTYPE html>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Authorized</title>
</head>
<body>
    <div>
        <p>You are not Authorized to view this page. Try login as an admin</p>
    </div>
</body>
</html>
