@model OnlineMovieTicket.Entity.Movie

@{
    ViewBag.Title = "Edit";
     Layout = "~/Views/Shared/_LayoutSignout.cshtml";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}



<h2>Edit</h2>

@using (Html.BeginForm("EditMovie", "Movie", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.MovieId);
    <table>
        <tr>
            <td>
                Movie Name:
            </td>            <td>
                @Html.TextBoxFor(Model => Model.MovieName)
            </td>
        </tr>


        <tr>
            <td>
                ShowTime:
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.ShowTime)
            </td>
        </tr>

        <tr>
            <td>
                Price :
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Price)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" />
            </td>
            <td>
                <a href="~/Movie/Index">Back</a>
            </td>
        </tr>
    </table>
}