body {
}

.master {
    
    background-color: #97E7E6;
    display: block unset;
    padding: 15px 20px 15px;
    border:medium;
    border-radius:10px;
}

.master-right{
    float:right;
}

.masterbtn {
    border: solid;
    margin: 0 0 0 15px;
    border-radius: 10px;
    border-color: #0A1823;
    display: compact;
    padding: 8px 8px 8px 8px;
    color: #044170;
    font-family: Arial;
    font-display: block;
    text-decoration: none;
}

    .masterbtn:hover {
        background-color: #0A1823;
        border: double;
        color: #DFEEFA;
    }
.text-danger {
    color: red;
    font-family: Calibri;
    text-decoration:solid;
}
.wrapper{
    margin-top:1px;
    padding-top:1px;
    width:auto;
    height: 100%;
    background: url('/Content/Background.jpg') no-repeat center center fixed;
    background-size: cover;
}
.wrapper::after{
    background-color:rgba(0, 0, 0, 0.52);
}
.login-box-outer{
    max-width:450px;
    padding:60px;
    position:relative;
    z-index:99;
    margin-left:50%;
    margin-top:3%;
    transform:translateX(-50%);
    background-color:rgba(199, 236, 245, 0.75);
    box-sizing:border-box;
    }
.login-box-outer h1{
    font-size:32px;
    color:#000010;
    text-transform:capitalize;
    margin-top:0;
    padding-top:3px;
}
    .login-box-outer-input {
        height: 50px;
        width: 100%;
        border-radius: 3px;
        background: rgba(199, 240, 245, 0.99);
        color: #000010;
        border: 1px solid rgba(199, 240, 245, 0.99);
        padding-left: 15px;
        box-sizing: border-box;
    }
.login-box-outer input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:rgba(51, 93, 235, 0.95);
}

.input-wrap{
    margin-bottom:25px;
}
.input-wrap-pass {
    margin-bottom: 1px;
}
.input-wrap-password-box {
    align-items: center;
    display: flex;
    border: 1px solid rgba(199, 240, 245, 0.99);
    background: rgba(199, 240, 245, 0.99);
    color: #000010;
    border-radius: 3px;
    padding:0px 3px 0px 0px;
    margin-bottom:20px;
}
.hidden-pass {
    height: 50px;
    width: 100%;
    border-radius: 3px;
    background: rgba(199, 240, 245, 0.99);
    color: #000010;
    border: 1px solid rgba(199, 240, 245, 0.99);
    padding-left: 15px;
    box-sizing: border-box;
}
.input-wrap button {
    height: 50px;
    width: 100%;
    background: #0A1823;
    border: 1px solid #0A1823;
    color: rgba(199, 236, 245, 0.75);
    font-weight:500;
    font-size:16px;
    border-radius:3px;
}
.input-wrap button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.00);
    color: #0A1823;
    border: 3px solid #0A1823;
}

.signup-box-outer {
    max-width: 450px;
    padding:2px 60px;
    padding-bottom:20px;
    position: relative;
    z-index: 99;
    margin-left: 50%;
    margin-top: 15px;
    transform: translateX(-40%);
    background-color: rgba(199, 236, 245, 0.75);
    box-sizing: border-box;
}

.signup-box-outer-input {
    height: 30px;
    width: 100%;
    border-radius: 3px;
    background: rgba(199, 240, 245, 0.99);
    color: #000010;
    border: 1px solid rgba(199, 240, 245, 0.99);
    padding-left: 15px;
    box-sizing: border-box;
}
.radio-button {
    margin-bottom:25px;
}
.input-wrap a {
    font-family: Arial;
    font-display: block;
    text-decoration: none;
    padding-left:30px;
    color:blue;
    

}
.input-wrap a:hover{
    color:#2e07f5;
    text-decoration:underline;
    cursor:pointer;
}
form{
    padding-top:1px;
    padding-bottom:30px;
}
.input-wrap-signup button {
    height: 40px;
    width: 100%;
    background: #0A1823;
    border: 1px solid #0A1823;
    color: rgba(199, 236, 245, 0.75);
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
}
    .input-wrap-signup button:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.00);
        color: #0A1823;
        border: 3px solid #0A1823;
    }
.input-wrap-red {
    margin-bottom: 5px;
    color:red;
}