
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <p>Error has occured. Try going back again by clicking Home</p>
        @Html.ActionLink("Home", "Index", "Movie")
    </div>
</body>
</html>
